openapi: 3.0.2
info:
  title: 七河生物-研发模块 - SAAS
  version: 1.0.50.beta 
servers:
  - url: "http://jiuxiniot.com/qihe-biology-e"
tags:
  - name: 原材料
  - name: 堆料实验
  - name: 取用记录
  - name: 单核菌株
  - name: 配方
  - name: 库房
  - name: 培养基
  - name: 母种-一级母种
  - name: 母种-二级母种
  - name: 母种-菌种检测
  - name: 母种-生产菌棒检测
  - name: 种质入库
  - name: 群体信息
  - name: 实验
paths:
  /material/list:
    get:
      tags:
        - 原材料
      summary: 列表（分页）
      security:
        - token: []
      parameters:
        - name: name
          in: query
          required: false
          description: 材料名称
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    name:
                                      type: string
                                      description: 材料名称
                                    batchId:
                                      type: string
                                      description: 批次
                                    discoverTime:
                                      type: string
                                      description: 检测日期，yyyy-MM-dd HH:mm:ss
  /material/{id}:
    get:
      tags:
        - 原材料
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: 材料名称
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Material"
  /material:
    post:
      tags:
        - 原材料
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        description: 原材料的实体类，保存时不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Material"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Material"
    put:
      tags:
        - 原材料
      summary: 修改
      security:
        - token: []
      requestBody:
        required: true
        description: 原材料的实体类
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Material"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Material"
  /material/type/count:
    get:
      tags:
        - 原材料
      summary: 种类数量
      security:
        - token: []
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        type: integer
                        description: 种类数量
  /experiment/list:
    get:
      tags:
        - 堆料实验
      summary: 列表（分页）
      security:
        - token: []
      parameters:
        - name: name
          in: query
          required: false
          description: 实验名称
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    name:
                                      type: string
                                      description: 实验名称
                                    createTime:
                                      type: string
                                      description: 创建时间，yyyy-MM-dd HH:mm:ss
  /experiment:
    post:
      tags:
        - 堆料实验
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - createUser
              type: object
              properties:
                name:
                  type: string
                  description: 材料名称
                createUser:
                  type: string
                  description: 创建人
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        properties:
                          id:
                            type: string
                            description: id
                          name:
                            type: string
                            description: 实验名称
                          createTime:
                            type: string
                            description: 创建时间，yyyy-MM-dd HH:mm:ss
  /experiment/group/list:
    get:
      tags:
        - 堆料实验
      summary: 实验组列表
      security:
        - token: []
      parameters:
        - name: expId
          in: query
          required: true
          description: 实验id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ExperimentGroup"
  /experiment/group:
    post:
      tags:
        - 堆料实验
      summary: 保存实验组
      security:
        - token: []
      requestBody:
        required: true
        description: 保存实验组不需要传递id、name、createTime
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExperimentGroup"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ExperimentGroup"
  /experiment/times/list:
    get:
      tags:
        - 堆料实验
      summary: 实验次数列表
      security:
        - token: []
      parameters:
        - name: groupId
          in: query
          required: true
          description: 实验组id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: id
                            times:
                              type: integer
                              description: 实验次数
                            createTime:
                              type: string
                              description: 创建时间，yyyy-MM-dd HH:mm:ss
  /experiment/times:
    post:
      tags:
        - 堆料实验
      summary: 保存实验次数
      security:
        - token: []
      requestBody:
        required: true
        description: 该body中的id、createTime不需要传递
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Experiment"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Experiment"
  /experiment/times/{id}:
    get:
      tags:
        - 堆料实验
      summary: 实验详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: 实验次数id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Experiment"
  /strain/source/list:
    get:
      tags:
        - 单核菌株
      summary: 来源列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/StrainSource"
  /strain/source:
    post:
      tags:
        - 单核菌株
      summary: 保存来源
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrainSource"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StrainSource"
  /strain/list:
    get:
      tags:
        - 单核菌株
      summary: 列表
      security:
        - token: []
      parameters:
        - name: sourceId
          in: query
          required: true
          description: 来源id
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    name:
                                      type: string
                                      description: 菌株名称
                                    surplus:
                                      type: number
                                      description: 剩余数量
  /strain:
    post:
      tags:
        - 单核菌株
      summary: 创建
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id、usedCount、surplus
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Strain"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Strain"
  /strain/{id}:
    get:
      tags:
        - 单核菌株
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Strain"
  /record/list:
    get:
      tags:
        - 取用记录
      summary: 列表
      description: 列表不需要返回use
      security:
        - token: []
      parameters:
        - name: linkId
          in: query
          required: true
          description: 关联模块的id
          schema:
            type: string
        - name: linkType
          in: query
          required: true
          description: 关联模块的类型
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/Record"
  /record/{id}:
    get:
      tags:
        - 取用记录
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
        - name: linkType
          in: query
          required: true
          description: 关联模块的类型
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Record"
  /record:
    post:
      tags:
        - 取用记录
      summary: 新增
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id、usedCount、surplus
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Record"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Record"
  /formula/list:
    get:
      tags:
        - 配方
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    name:
                                      type: string
                                      description: 配方名称
  /formula/{id}:
    get:
      tags:
        - 配方
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Formula"
  /formula:
    post:
      tags:
        - 配方
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Formula"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Formula"
  /storeroom/list:
    get:
      tags:
        - 库房
      summary: 列表
      description: 列表只需要返回id、name、position
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/Storeroom"
  /storeroom/{id}:
    get:
      tags:
        - 库房
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Storeroom"
  /storeroom:
    post:
      tags:
        - 库房
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id、createTime
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Storeroom"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Storeroom"
    put:
      tags:
        - 库房
      summary: 修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Storeroom"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Storeroom"
  /storeroom/shed/list:
    get:
      tags:
        - 库房
      summary: 三层棚-列表
      security:
        - token: []
      parameters:
        - name: storeroomId
          in: query
          required: true
          description: 库房id
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    createTime:
                                      type: string
                                      description: 创建时间，yyyy-MM-dd HH:mm:ss
  /storeroom/shed/{id}:
    get:
      tags:
        - 库房
      summary: 三层棚-详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomShed"
  /storeroom/shed:
    post:
      tags:
        - 库房
      summary: 三层棚-保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id、createTime
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreroomShed"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomShed"
  /storeroom/sterilize/list:
    get:
      tags:
        - 库房
      summary: 灭菌参数-列表
      security:
        - token: []
      parameters:
        - name: storeroomId
          in: query
          required: true
          description: 库房id
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    createTime:
                                      type: string
                                      description: 创建时间，yyyy-MM-dd HH:mm:ss
  /storeroom/sterilize/{id}:
    get:
      tags:
        - 库房
      summary: 灭菌参数-详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomSterilize"
  /storeroom/sterilize:
    post:
      tags:
        - 库房
      summary: 灭菌参数-保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id、createTime
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreroomSterilize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomSterilize"
  /storeroom/environment/list:
    get:
      tags:
        - 库房
      summary: 温湿光气-列表
      security:
        - token: []
      parameters:
        - name: storeroomId
          in: query
          required: true
          description: 库房id
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    createTime:
                                      type: string
                                      description: 创建时间，yyyy-MM-dd HH:mm:ss
  /storeroom/environment/{id}:
    get:
      tags:
        - 库房
      summary: 温湿光气-详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomEnvironment"
  /storeroom/environment:
    post:
      tags:
        - 库房
      summary: 温湿光气-保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id、createTime
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreroomEnvironment"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomEnvironment"
  /storeroom/capacity/list:
    get:
      tags:
        - 库房
      summary: 库房总容量-列表
      security:
        - token: []
      parameters:
        - name: storeroomId
          in: query
          required: true
          description: 库房id
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: id
                                    createTime:
                                      type: string
                                      description: 创建时间，yyyy-MM-dd HH:mm:ss
  /storeroom/capacity/{id}:
    get:
      tags:
        - 库房
      summary: 库房总容量-详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomCapacity"
  /storeroom/capacity:
    post:
      tags:
        - 库房
      summary: 库房总容量-保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id、createTime
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreroomCapacity"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/StoreroomCapacity"
  /culture/list:
    get:
      tags:
        - 培养基
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/Culture"
  /culture/{id}:
    get:
      tags:
        - 培养基
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Culture"
  /culture:
    post:
      tags:
        - 培养基
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Culture"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Culture"
  /specie/oneLevel/list:
    get:
      tags:
        - 母种-一级母种
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/SpecieOne"
  /specie/oneLevel/{id}:
    get:
      tags:
        - 母种-一级母种
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieOne"
  /specie/oneLevel:
    post:
      tags:
        - 母种-一级母种
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieOne"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieOne"
    put:
      tags:
        - 母种-一级母种
      summary: 修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieOne"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieOne"
  /specie/twoLevel/task/list:
    get:
      tags:
        - 母种-二级母种
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  allOf:
                                    - $ref: "#/components/schemas/SpecieTask"
                                    - type: object
                                      properties:
                                        currentStep:
                                          type: string
                                          description: 当前步骤
  /specie/twoLevel/task/steps:
    get:
      tags:
        - 母种-二级母种
      summary: 步骤列表
      security:
        - token: []
      parameters:
        - name: taskId
          in: query
          required: true
          description: 任务id
          schema:
            type: string 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieTaskStep"
  /specie/twoLevel/task/{id}:
    get:
      tags:
        - 母种-二级母种
      summary: 分厂母种任务详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieTask"
  /specie/twoLevel/task:
    post:
      tags:
        - 母种-二级母种
      summary: 创建分厂母种任务
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieTask"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieTask"
  /specie/twoLevel/make/{id}:
    get:
      tags:
        - 母种-二级母种
      summary: 二级母种制作详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieMake"
  /specie/twoLevel/make:
    post:
      tags:
        - 母种-二级母种
      summary: 创建二级母种制作
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieMake"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieMake"
  /specie/twoLevel/inoculate/{id}:
    get:
      tags:
        - 母种-二级母种
      summary: 接种详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieInoculate"
  /specie/twoLevel/inoculate:
    post:
      tags:
        - 母种-二级母种
      summary: 创建接种
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieInoculate"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieInoculate"
  /specie/twoLevel/culture/{id}:
    get:
      tags:
        - 母种-二级母种
      summary: 培养详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieCulture"
  /specie/twoLevel/culture:
    post:
      tags:
        - 母种-二级母种
      summary: 培养接种
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieCulture"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieCulture"
  /specie/twoLevel/send/{id}:
    get:
      tags:
        - 母种-二级母种
      summary: 派送详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieSend"
  /specie/twoLevel/send:
    post:
      tags:
        - 母种-二级母种
      summary: 创建派送
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieSend"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieSend"
    put:
      tags:
        - 母种-二级母种
      summary: 修改派送
      security:
        - token: []
      requestBody:
        required: true
        description: 修改
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieSend"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieSend"
  /specie/twoLevel/receive/{id}:
    get:
      tags:
        - 母种-二级母种
      summary: 接收详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieReceive"
  /specie/twoLevel/receive:
    post:
      tags:
        - 母种-二级母种
      summary: 创建接收
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieReceive"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieReceive"
  /specie/twoLevel/unreceive:
    post:
      tags:
        - 母种-二级母种
      summary: 创建不接收
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieReceive"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieReceive"
  /specie/strain/list:
    get:
      tags:
        - 母种-菌种检测
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list: 
                                type: array
                                items:
                                  $ref: "#/components/schemas/SpecieStrain"
  /specie/strain/{id}:
    get:
      tags:
        - 母种-菌种检测
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieStrain"
  /specie/strain:
    post:
      tags:
        - 母种-菌种检测
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieStrain"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieStrain"
    put:
      tags:
        - 母种-菌种检测
      summary: 修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieStrain"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieStrain"
  /specie/stick/list:
    get:
      tags:
        - 母种-生产菌棒检测
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/SpecieStick"
  /specie/stick/{id}:
    get:
      tags:
        - 母种-生产菌棒检测
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          in: path
          required: true
          description: id
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieStick"
  /specie/stick:
    post:
      tags:
        - 母种-生产菌棒检测
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        description: 保存时，不需要传递id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieStick"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieStick"
    put:
      tags:
        - 母种-生产菌棒检测
      summary: 修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecieStick"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SpecieStick"
  /germplasm/list:
    get:
      tags:
        - 种质入库
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/Germplasm"
  /germplasm:
    post:
      tags:
        - 种质入库
      summary: 保存
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Germplasm"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Germplasm"
  /germplasm/{id}:
    get:
      tags:
        - 种质入库
      summary: 种质入库详情
      security:
        - token: []
      parameters:
        - name: id
          description: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/Germplasm"
  /germplasm/strain:
    get:
      tags:
        - 种质入库
      summary: 种质菌株保藏
      security:
        - token: []
      parameters:
        - name: germplasmId
          description: 种质id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GermplasmStrain"
    post:
      tags:
        - 种质入库
      summary: 种质菌株保藏-保存和修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GermplasmStrain"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GermplasmStrain"
  /germplasm/preserve:
    get:
      tags:
        - 种质入库
      summary: 保藏信息
      security:
        - token: []
      parameters:
        - name: germplasmId
          description: 种质id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GermplasmPreserve"
    post:
      tags:
        - 种质入库
      summary: 保藏信息-保存和修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GermplasmPreserve"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GermplasmPreserve"
  /germplasm/phenotype:
    get:
      tags:
        - 种质入库
      summary: 表型数据
      security:
        - token: []
      parameters:
        - name: germplasmId
          description: 种质id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GermplasmPhenotype"
    post:
      tags:
        - 种质入库
      summary: 表型数据-遗传背景-保存和修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GermplasmPhenotype"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GermplasmPhenotype"
  /groupInfo/list:
    get:
      tags:
        - 群体信息
      summary: 列表
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/GroupInfo"
  /groupInfo:
    post:
      tags:
        - 群体信息
      summary: 保存和修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupInfo"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GroupInfo"
  /groupInfo/{id}:
    get:
      tags:
        - 群体信息
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          description: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GroupInfo"
  /groupInfo/strain/list:
    get:
      tags:
        - 群体信息
      summary: 菌株-列表
      security:
        - token: []
      parameters:
        - name: groupInfoId
          description: 群体信息id
          in: query
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/GroupInfoStrain"
  /groupInfo/strain:
    post:
      tags:
        - 群体信息
      summary: 菌株-保存和修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupInfoStrain"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GroupInfoStrain"
  /groupInfo/strain/{id}:
    get:
      tags:
        - 群体信息
      summary: 菌株详情
      security:
        - token: []
      parameters:
        - name: id
          description: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GroupInfoStrain"
  /test/list:
    get:
      tags:
        - 实验
      summary: 列表（分页）
      security:
        - token: []
      parameters:
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/Test"
  /test/{id}:
    get:
      tags:
        - 实验
      summary: 详情
      security:
        - token: []
      parameters:
        - name: id
          description: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Test"
  /test:
    post:
      tags:
        - 实验
      summary: 保存、提交、审核
      description: 根据id判断是新增还是修改，根据status判断是保存还是提交，审核通过还是不通过
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Test"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Test"
  /test/module:
    get:
      tags:
        - 实验
      summary: 所有流程
      security:
        - token: []
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/TestModule"
  /test/process/flask/list:
    get:
      tags:
        - 实验
      summary: 摇瓶 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/TestFlask"
  /test/process/flask:
    post:
      tags:
        - 实验
      summary: 摇瓶 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestFlask"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestFlask"
  /test/process/flask/{id}:
    get:
      tags:
        - 实验
      summary: 摇瓶 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 摇瓶id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestFlask"
  /test/process/fermenter/list:
    get:
      tags:
        - 实验
      summary: 发酵罐 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/TestFermenter"
  /test/process/fermenter:
    post:
      tags:
        - 实验
      summary: 发酵罐 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestFermenter"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestFermenter"
  /test/process/fermenter/{id}:
    get:
      tags:
        - 实验
      summary: 发酵罐 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 发酵罐id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestFermenter"
  /test/process/pad/list:
    get:
      tags:
        - 实验
      summary: 平板 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/TestPad"
  /test/process/pad:
    post:
      tags:
        - 实验
      summary: 平板 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestPad"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestPad"
  /test/process/pad/{id}:
    get:
      tags:
        - 实验
      summary: 平板 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 平板id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestPad"
  /test/process/burette/list:
    get:
      tags:
        - 实验
      summary: 试管 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/TestBurette"
  /test/process/burette:
    post:
      tags:
        - 实验
      summary: 试管 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestBurette"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestBurette"
  /test/process/burette/{id}:
    get:
      tags:
        - 实验
      summary: 试管 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 平板id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestBurette"
  /test/process/sterilize/list:
    get:
      tags:
        - 实验
      summary: 生产种 - 灭菌参数 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/TestSterilize"
  /test/process/sterilize:
    post:
      tags:
        - 实验
      summary: 生产种 - 灭菌参数 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestSterilize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestSterilize"
  /test/process/sterilize/{id}:
    get:
      tags:
        - 实验
      summary: 生产种 - 灭菌参数 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 灭菌参数id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestSterilize"
  /test/process/production/list:
    get:
      tags:
        - 实验
      summary: 生产种 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/TestProduction"
  /test/process/production:
    post:
      tags:
        - 实验
      summary: 生产种 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestProduction"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestProduction"
  /test/process/production/{id}:
    get:
      tags:
        - 实验
      summary: 生产种 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 生产种id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TestProduction"
                          
  /test/process/bacterial/list:
    get:
      tags:
        - 实验
      summary: 菌棒分组 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/Bacterial"
  
  /test/process/bacterial/{id}:
    get:
      tags:
        - 实验
      summary: 菌棒分组 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 生产种id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Bacterial"
  /test/process/bacterial/make/{id}:
    get:
      tags:
        - 实验
      summary: 菌棒分组- 制棒工艺 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 菌棒分组id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/BacterialMake"
  /test/process/bacterial/make:
    post:
      tags:
        - 实验
      summary: 菌棒分组 - 制棒工艺 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BacterialMake"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/BacterialMake"
  /test/process/bacterial/make/sterilize/list:
    get:
      tags:
        - 实验
      summary: 制棒工艺 - 灭菌参数 - 列表
      security:
        - token: []
      parameters:
        - name: testId
          description: 实验id
          in: query
          required: true
          schema:
            type: string
        - name: processId
          description: 流程id
          in: query
          required: true
          schema:
            type: string
        - name: groupId
          description: 菌棒组id
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageNum"
        - $ref: "#/components/parameters/PageSize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/PageInfo"
                          - type: object
                            properties:
                              list:
                                type: array
                                items:
                                  $ref: "#/components/schemas/BacterialMakeSterilize"
  /test/process/bacterial/make/sterilize:
    post:
      tags:
        - 实验
      summary: 制棒工艺 - 灭菌参数 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BacterialMakeSterilize"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/BacterialMakeSterilize"
  /test/process/bacterial/make/sterilize/{id}:
    get:
      tags:
        - 实验
      summary: 制棒工艺 - 灭菌参数 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 灭菌参数id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/BacterialMakeSterilize"
  /test/process/bacterial/inoculation/{id}:
    get:
      tags:
        - 实验
      summary: 菌棒分组- 接种工艺 - 详情
      security:
        - token: []
      parameters:
        - name: id
          description: 菌棒分组id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/BacterialInoculation"
  /test/process/bacterial/inoculation:
    post:
      tags:
        - 实验
      summary: 菌棒分组 - 接种工艺 - 保存或修改
      security:
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BacterialInoculation"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseEntity"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/BacterialInoculation"

components:
  securitySchemes:
    token:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    PageNum:
      name: pageNum
      description: 分页参数，第几页
      in: query
      required: false
      schema:
        type: string
        default: 1
    PageSize:
      name: pageSize
      description: 分页参数，显示数量
      in: query
      required: false
      schema:
        type: string
        default: 10
  schemas:
    ResponseEntity:
      type: object
      description: 返回封装对象
      properties:
        errCode:
          type: integer
          description: 状态码，0-正常，其它失败
        msg:
          type: string
          description: 相应信息，如登录成功，报错信息等
    PageInfo:
      type: object
      description: 分页对象
      properties:
        total:
          type: integer
          description: 数据总数
        pageNum:
          type: integer
          description: 当前页
        pageSize:
          type: integer
          description: 显示条数
        size:
          type: integer
        startRow:
          type: integer
        endRow:
          type: integer
        pages:
          type: integer
          description: 总页数
        prePage:
          type: integer
          description: 上一页
        nextPage:
          type: integer
          description: 下一页
        isFirstPage:
          type: boolean
          description: 是否是第一页
        isLastPage:
          type: boolean
          description: 是否是最后一页
        hasPreviousPage:
          type: boolean
          description: 是否有上一页
        hasNextPage:
          type: boolean
          description: 是否有下一页
        navigatePages:
          type: integer
        navigatepageNums:
          type: array
          items:
            type: integer
        navigateFirstPage:
          type: integer
        navigateLastPage:
          type: integer
    Material:
      type: object
      description: 原材料实体类
      properties:
        id:
          type: string
          description: id
        name:
          type: string
          description: 材料名称
        count:
          type: integer
          description: 数量
        discoverTime:
          type: string
          description: 检测日期，yyyy-MM-dd HH:mm:ss
        discoverUser:
          type: string
          description: 检测人
        graininess:
          type: string
          description: 颗粒度
        appearance:
          type: string
          description: 外观
        model:
          type: string
          description: 型号规格
        source:
          type: string
          description: 来源
        carbonRatio:
          type: string
          description: 碳氮比
        carbonSource:
          type: string
          description: 碳源
        cellulose:
          type: string
          description: 纤维素
        halfCellulose:
          type: string
          description: 半纤维素
        ash:
          type: string
          description: 灰分
        mildewDegree:
          type: string
          description: 霉变度
        ph:
          type: string
          description: pH
        lignin:
          type: string
          description: 木质素
        waterContent:
          type: string
          description: 含水量
        airPermeability:
          type: string
          description: 透气性
        waterCapacity:
          type: string
          description: 持水力
        batchId:
          type: string
          description: 批次
        updateTime:
          type: string
          description: 更新时间，yyyy-MM-dd HH:mm:ss
        createTime:
          type: string
          description: 创建时间，yyyy-MM-dd HH:mm:ss
    Experiment:
      type: object
      description: 堆料实验实体类
      properties:
        id:
          type: string
          description: id
        material:
          type: string
          description: 原材料名称
        count:
          type: integer
          description: 数量
        batchId:
          type: string
          description: 批次
        discoverTime:
          type: string
          description: 检测日期，yyyy-MM-dd HH:mm:ss
        discoverUser:
          type: string
          description: 检测人
        temperature:
          type: string
          description: 发酵温度
        ph:
          type: string
          description: pH
        waterContent:
          type: string
          description: 含水量
        colony:
          type: string
          description: 料内菌落种类及数量
        ash:
          type: string
          description: 灰分
        lignin:
          type: string
          description: 木质素
        cellulose:
          type: string
          description: 纤维素
        halfCellulose:
          type: string
          description: 半纤维素
        carbonRatio:
          type: string
          description: 碳氮比
        carbonSource:
          type: string
          description: 碳源
        week:
          type: integer
          description: 第几周
        day:
          type: integer
          description: 第几天
        times:
          type: integer
          description: 第几次测量
        expTimes:
          type: integer
          description: 实验次数
        handleType:
          type: string
          description: 处理方式
        groupId:
          type: string
          description: 实验组id
        createTime:
          type: string
          description: 创建时间，yyyy-MM-dd HH:mm:ss
    ExperimentGroup:
      type: object
      description: 实验组实体类
      properties:
        id:
          type: string
          description: id
        name:
          type: string
          description: 组名称
        expId:
          type: string
          description: 实验id
        formulas:
          type: array
          description: 配方列表
          items:
            properties:
              name:
                type: string
                description: 成分名称
              weight:
                type: integer
                description: 重量，单位（g）
        createTime:
          type: string
          description: 创建时间，yyyy-MM-dd HH:mm:ss
    Strain:
      type: object
      description: 菌株实体类
      properties:
        id:
          type: string
          description: id
        name:
          type: string
          description: 菌株名称
        source:
          type: string
          description: 来源
        sourceId:
          type: string
          description: 来源
        matingType:
          type: string
          description: 交配型
        separateTime:
          type: string
          description: 单胞分离时间
        preserveTime:
          type: string
          description: 保藏时间
        batchId:
          type: string
          description: 批号
        count:
          type: integer
          description: 保存数量
        usedCount:
          type: integer
          description: 取用数量
        surplus:
          type: integer
          description: 剩余数量
        description:
          type: string
          description: 备注
    StrainSource:
      type: object
      description: 单核菌株来源
      properties:
        id:
          type: string
          description: id
        name:
          type: string
          description: 名称
        collectTime:
          type: string
          description: 采集时间，yyyy-MM-dd HH:mm:ss
        createTime:
          type: string
          description: 创建时间，yyyy-MM-dd HH:mm:ss
[...]
